.bg-container {
  background: #333333;
  padding: 20px;
  padding-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.specific-restaurant-image {
  width: 445px;
  height: 280px;
  border-radius: 8px;
  margin: 15px;
}
.restaurant-name {
  font-weight: 500;
  font-size: 36px;
}
.rating-price-container {
  display: flex;
}
.vr-line {
  margin-left: 30px;
  margin-right: 30px;
}
.food-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
